html
body
  width 100%
  height 100%
  font-size 16px
  box-sizing border-box

.cabecera
  width 100%
  height 70%
  background url('../img/photo-1429051883746-afd9d56fbdaf.jpg')
  background-attachment fixed
  text-align center
  img
    width 60%
    height 60%
    margin-top 5%

.texto-cabecera
  width 100%
  background nodeschool
  text-align center
  h2
    margin 0
    padding .5em 0
    color letra
    font-family 'Source Sans Pro'

.cuerpo
  width 100%
  .info-nodeschool
    width 60%
    margin-left 20%
    display inline-block
    p
      margin 1em 0em
      padding 0
      text-align justify
      font-size 1.2em
      font-family 'Source Sans Pro'
      color letra
  .ejemplos
    width 60%
    padding 1em 0em
    margin-left 20%
    display flex
    display -webkit-flex
    display -moz-flex
    flex-direction row
    justify-content space-around
    .descarga
      width 45%
      border .2em solid bordes
      border-radius .2em
      .puntero
        width 100%
        border-bottom .2em solid bordes
        display flex
        display -webkit-flex
        display -moz-flex
        flex-direction row
        justify-content flex-start
        .opcion
          border-radius 100%
          border .2em solid bordes
          width .5em
          height .5em
          margin 3% 0%
          &:hover
            background nodeschool
          &:first-child
            margin-left .5em
            margin-right .1em
            &:hover
              background red
          &:last-child
            margin-left .1em
            &:hover
              background green
    .descarga-info
      width 100%
      ul
        list-style none
        li
          border-left .5em solid nodeschool
          padding-left .2em 
          margin-bottom .5em
          color letra
          font-family 'Source Sans Pro'
          font-size 1.2em
  .eventos
    background bordes
    position relative
    display flex
    text-align -webkit-center
    text-align center
    padding 0 25%
    flex-direction column
    justify-content space-around
    font-family 'Source Sans Pro'
    .titulo-talleres
      color nodeschool
      text-transform uppercase
      h2
        border .1em solid white
        display block
        padding 0em .1em
    .evento-agendado
      color white
      ul
        margin 0
        padding 0
        list-style none
        font-size 1.3em
  .info-adicional
    display flex
    justify-content center
    padding 1em 0em
    ul
      list-style none
      margin 0
      padding 0
      li
        margin .5em 0em
        color letra
        font-family 'Source Sans Pro'
        font-size 1.3em
        a
          color letra
          text-decoration none
          font-weight 700
          cursor pointer
.pie
  background bordes
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  header
    h3
      text-align center
      color white
  .organizadores
    display flex
    flex-direction row
    justify-content space-around
    margin .5em 0em
    text-align center
    acronym
      a
        cursor pointer
        img:first-child
          
        img
          width 12.5em
          border-radius .2em
        
.organiza
  color white
  max-width 70%
  margin auto
  font-family 'Source Sans Pro'

@media screen and (max-width: 800px)
  .cabecera
    width 100%
    height 45%
    background url('../img/photo-1429051883746-afd9d56fbdaf.jpg')
    background-attachment fixed
    background-size cover
    text-align center
    img
      width 70%
      height 70%
      margin-top 5%
  .cuerpo
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    .info-nodeschool
      width 85%
      margin 0 auto
      p
        margin 1em 0em
        padding 0
        text-align justify
        font-size 1.2em
        font-family 'Source Sans Pro'
        color letra
    .ejemplos
      width 85%
      padding 1em 0em
      display flex
      display -webkit-flex
      display -moz-flex
      flex-direction row
      margin-left 0
      justify-content space-between
      .descarga
        width 45%
        border .2em solid bordes
        border-radius .2em
      .descarga-info
        display flex
        flex-direction column
        justify-content center
        align-items center
        ul
          padding 0
          li
            border-left .5em solid nodeschool
            padding-left 0
            margin-bottom .5em
            color letra
            font-family 'Source Sans Pro'
            font-size 18px
    .info-adicional
      width 100%
      display flex
      flex-direction column
      justify-content center
      align-items center
      ul
        width 85%
        text-align justify

  .pie
    width 100%
    padding 0
    margin 0
    header
      h3
        font-size 17px
    .organizadores
      justify-content space-between
      align-items space-around
      acronym
        a
          cursor pointer
          img:first-child
          img
            width 150px
            border-radius .2em

@media screen and (max-width: 500px)
  .cuerpo
    .ejemplos
      flex-direction column
      justify-content space-around
      align-items center
      .descarga
        width 85%
        margin-bottom 5px
  .pie
    .organizadores
      justify-content space-between
      align-items space-around
      acronym
        a
          cursor pointer
          img:first-child
          img
            width 100px
            border-radius .2em
@media screen and (max-width: 480px)

  .pie
    .organizadores
      justify-content space-between
      align-items space-around
      acronym
        a
          cursor pointer
          img:first-child
          img
            width 100px
            border-radius .2em
  .organiza
    color white
    max-width 90px
    margin auto
    font-family 'Source Sans Pro'
    text-align center
    font-size 12px

